.box{
    border: 15px solid; /* 線の太さと可視化 */
    border-top-left-radius: 30%; /* 左上を角丸に */
    border-top-right-radius: 30%; /* 右上を角丸に */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-color: #9DA697;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
   
}

.title{
    text-align: center;
    
}

.field{
    text-align: center;
    
}

.actions{
    text-align: center;
}

.new{
    text-align: center;
    margin-left: 30px;
   
}

.submit{
    text-align: center;
}

.box2{
    border: 8px solid; /* 線の太さと可視化 */
    border-top-left-radius: 30%; /* 左上を角丸に */
    border-top-right-radius: 30%; /* 右上を角丸に */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-color: #D1EBD8;
    text-align: center;
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}



.field1{
    text-align: center;
    margin-right: 50px;
    
}



.link2{
    text-align: center;
    margin-top: 5%;
}

.tweet-image{
    width: 400px;
    height: 300px;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.7;
}

.explain1{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 30px;
}

.explain2{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 30px;
}

.ohayo-image{
    width: 400px;
    height: 300px;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.7;
}

.new2{
    text-align: center;
    margin-left: 30px;
   
}

.time{
    text-align: center;
}

.link3{
    text-align: center;
}

.box3{
    border: 8px solid; /* 線の太さと可視化 */
    border-top-left-radius: 30%; /* 左上を角丸に */
    border-top-right-radius: 30%; /* 右上を角丸に */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-color: #D1EBD8;
    text-align: center;
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.link4{
    text-align: center;
}

